<h1>Lista de Mascotas</h1>
<section class='cards-container container mt-4'>
  <div class='row'>
    {{#each mascotas}}
      <div class='col-md-4 mb-4'>
        <div class='card h-100'>
          <div class='card-body'>
            <h3 class='card-title'>Nombre mascota #{{this.id}}</h3>
            <p class='card-text'><strong>{{this.species}}</strong></p>
            <p class='card-text'>{{this.breed}}</p>
            <a href='/mascotas/{{this.id}}' class='btn btn-primary'>Detalles</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>