<hr/>
<footer>
  <p>&copy; {{ year }} ColitasFelices</p>
  <nav>
    <a href="#">Home</a>
    <a href="#">Features</a>
    <a href="#">Pricing</a>
    <a href="#">FAQs</a>
    <a href="#">About</a>
  </nav> 
</footer>